<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>76643529369-tach42r0oun3bkf4c9psbq5nqnha5hei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.76643529369-tach42r0oun3bkf4c9psbq5nqnha5hei</string>
	<key>API_KEY</key>
	<string>AIzaSyB61sWepLJjUGKDxAoQD9yIFhISdqDa7nI</string>
	<key>GCM_SENDER_ID</key>
	<string>76643529369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.astroverse</string>
	<key>PROJECT_ID</key>
	<string>astroverse-5f2ae</string>
	<key>STORAGE_BUCKET</key>
	<string>astroverse-5f2ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76643529369:ios:57c3f79463e0966fc23e08</string>
</dict>
</plist>